@font-face {
  font-family: "LatoExtraBold";
  src: local("AirbnbCerealLight"),
    url("./fonts/Lato-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: local("AirbnbCerealLight"),
    url("./fonts/Lato-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  p {
    font-family: "LatoExtraBold";
  }
}